.contact-us-container {
    margin: 40px auto;
    max-width: 800px;
    text-align: center;
  }
  
  .contact-info {
    display: block;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .contact-info > div {
    width: 100%;
    max-width: 768px;
    margin: 0 10px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info h3 {
    margin-top: 0;
  }
  
  .contact-info p {
    margin: 2px 0;
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    .contact-info {
      flex-wrap: wrap;
    }
  
    .contact-info > div {
      width: 100%;
      margin-top: 20px;
    }
  }
  